/* 부모 요소(body)의 설정 조정 */
body {
  max-width: 930px; /* 콘텐츠가 중간에 위치하도록 고정 */
  margin: 12px auto; /* 수직 및 수평 가운데 정렬 */
}
h1, h2, h3 {
  font-family : "Tahoma";
  font-weight : bold;
}
h2 {
  clear : left;
}
a:link, a:visited {
  color : blue;
}
/* #header 스타일 수정 */
#header {
  background: silver;
  color: white;
  display: block;
  height: 70px; /* 원래 높이를 유지 */
  font-family: Tahoma;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 30px; /* 안쪽 여백 */
  box-sizing: border-box; /* 패딩 포함 */
  width: 100%;
}
#menu {
  display : block;
  margin : 5px auto 30px auto;
  padding : 0 0 24px 6px;
}
#menu li {
  display : inline;
  list-style : none;
  float : left;
  line-height : 20px;
  padding : 0 12px 6px 12px;
  font-family : "Verdana";
  font-size : 9pt;
  font-weight : 600;
}
#menu a:link, #menu a:visited {
  text-decoration : none;
  color : gray;
}
#menu a:hover { 
  border-bottom : 4px solid gray;
  color : black;
}
#home {
  text-align : center;
}
#home img {
  margin : 30px;
}
#text {
  text-align : left;
  margin : 30px 48px 0 48px;
  font-family : Tahoma;
  font-size : 14.4px;
  line-height : 20.8px;
}
.member {
  display : block;
  clear : left;
}
.member img {
  float : left;
  margin : 0 24px 36px 24px;
  width : 120px;
  height : 160px;
}
.member ul {
  display : block;
  position : relative;
}
.member li {
  font-family : "Tahoma";
  font-size : 14px;
  list-style : none;
  line-height : 20px;
}
.member .aff {
  margin-left : 13.6em;
  text-indent : -4.4em;
}
#collaboration, #lectures, #pub, #areas, #graduate {
  font-family : Tahoma;
  font-size : 14.4px;
  line-height : 24px;
}
#collaboration li {
  margin-bottom : 18px;
}
#collaboration li h4 {
  font-size : 14.4px;
  margin-bottom : 4.8px;
}
#collaboration a:link, #collaboration a:visited {
  color : black;
}
#pub li {
  text-justify : newspaper;
}
#footer {
  clear: both;
  display: block;
  height: 80px; /* 하단 높이 유지 */
  border-top: 1px solid gray; /* 한 줄로 유지 */
  margin-top: 14.4px;
  padding: 14.4px; /* 내부 여백 */
  box-sizing: border-box; /* 패딩 포함 */
}
#footer li {
  list-style : none;
  text-align : right;
}
